@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 17, 17;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 17, 17, 17;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;

  background: rgba(248, 250, 252, 0.3) !important;
}

.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet-active-next {
  top: 2px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: rgba(62, 146, 249, 1) !important;
  width: 35px !important;
  height: 8px !important;
  max-height: 8px !important;
  border-radius: 8px !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgba(204, 204, 204, 1) !important;
  width: 44px !important;
  height: 72px !important;
  background-color: rgba(248, 250, 252, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: rgba(255, 255, 255, 1) !important;
  transform: scale(1.1) !important;
  background-color: rgba(248, 250, 252, 0.3) !important;
}

@media only screen and (max-width: 1024px) {
  .landing_slider .swiper-pagination {
    top: 238px !important;
    position: absolute !important;
    height: min-content !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }

    .swiper_products2 .swiper-button-prev,
  .swiper_products2 .swiper-button-next {
    display: none !important;
  }
}

.swiper_products2 .swiper-button-prev{
left: 4px !important;
}

.swiper_products2 .swiper-button-next{
right: 4px !important;
}

.swiper_products2 .swiper-button-prev,
.swiper_products2 .swiper-button-next {
    top: 35% !important;
    scale: 0.9;
}

.swiper_products .swiper-slide {
  width: auto;
}

.swiper_products2 .swiper-wrapper {
  width: 100%;
  max-width: 100%;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 0.5s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #3b82f6;
  animation: prixClipFix 1s linear infinite;
}
.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}



.no_scrollbar::-webkit-scrollbar {
  display: none;
}

.no_scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.Toastify__toast {
  background: rgba(42, 42, 42, 1) !important;
}
.Toastify__toast-body {
  background: rgba(42, 42, 42, 1) !important;
}

.Toastify__toast--error {
  border-radius: 20px !important;
}
.Toastify__toast--error::after {
  position: absolute;
  color: rgba(255, 193, 7, 0.1);
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  color: white !important;
}
.Toastify__toast--error::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
  color: white !important;
}

/* /////////////////// */

.Toastify__toast--warning {
  border-radius: 20px !important;
  backdrop-filter: blur(40px);
}
.Toastify__toast--warning::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
  color: white !important;
}
.Toastify__toast--warning::after {
  position: absolute;
  color: rgba(255, 193, 7, 0.1);
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  color: white !important;
}

.Toastify__toast-body {
  width: 100%;
  display: flex;
  justify-content: center;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  text-align: center;

  color: #ffffff;

  padding: 16px;
}
.Toastify__progress-bar--warning {
  background: rgba(255, 193, 7, 1) !important;
  height: 4px !important;
}
.Toastify__toast > button > svg {
}
.Toastify__close-button {
  height: 100%;
  position: absolute;
  right: 16px;
  top: 0;
}
.Toastify__close-button > svg {
  width: 20px;
  height: 20px;
}

.Toastify__toast-body > div:last-child {
  text-align: left;
}

/*  Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #101010;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #629bf8;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth !important;
}
