@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 17, 17;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 17, 17, 17;
  }
}
input,
header,
footer,
a,
img,
button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;

  background: rgba(248, 250, 252, 0.3) !important;
}

.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet-active-next {
  top: 2px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: rgba(62, 146, 249, 1) !important;
  width: 35px !important;
  height: 8px !important;
  max-height: 8px !important;
  border-radius: 8px !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgba(204, 204, 204, 1) !important;
  width: 44px !important;
  height: 72px !important;
  background-color: rgba(248, 250, 252, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: rgba(255, 255, 255, 1) !important;
  transform: scale(1.1) !important;
  background-color: rgba(248, 250, 252, 0.3) !important;
}

@media only screen and (max-width: 1024px) {
  .landing_slider .swiper-pagination {
    top: 238px !important;
    position: absolute !important;
    height: min-content !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

.swiper_products .swiper-slide {
  width: auto;
}

.swiper_products2 .swiper-wrapper {
  width: 100%;
  max-width: 100%;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 0.5s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #3b82f6;
  animation: prixClipFix 1s linear infinite;
}
.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clippath: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clippath: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clippath: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

.no_scrollbar::-webkit-scrollbar {
  display: none;
}

.no_scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.Toastify__toast {
  background: rgba(42, 42, 42, 1) !important;
}
.Toastify__toast-body {
  background: rgba(42, 42, 42, 1) !important;
}

.Toastify__toast--error {
  border-radius: 20px !important;
  background: rgba(239, 68, 68, 0.1) !important;
  backdrop-filter: blur(40px);
}
.Toastify__toast--error::after {
  position: absolute;
  color: rgba(255, 193, 7, 0.1);
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  color: white !important;
}
.Toastify__toast--error::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
  color: white !important;
}

/* /////////////////// */

.Toastify__toast--warning {
  border-radius: 20px !important;
  background: rgba(255, 193, 7, 0.1) !important;
  backdrop-filter: blur(40px);
}
.Toastify__toast--warning::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
  color: white !important;
}
.Toastify__toast--warning::after {
  position: absolute;
  color: rgba(255, 193, 7, 0.1);
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  color: white !important;
}

.Toastify__toast-body {
  width: 100%;
  display: flex;
  justify-content: center;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  text-align: center;

  color: #ffffff;

  padding: 16px;
}
.Toastify__progress-bar--warning {
  background: rgba(255, 193, 7, 1) !important;
  height: 4px !important;
}
.Toastify__toast > button > svg {
}
.Toastify__close-button {
  height: 100%;
  position: absolute;
  right: 16px;
  top: 0;
}
.Toastify__close-button > svg {
  width: 20px;
  height: 20px;
}

.Toastify__toast-body > div:last-child {
  text-align: left;
}
